.home{
    flex: 1;
}

.home p{
    font-size: 1.1em;
    font-weight: 400;
    padding: 8px;
}

.home a{
    color: unset;
    text-decoration: none;
}

.content-description{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding-top: 50px;
    position: relative;
}

.content-description h1{
    font-family: 'VALFont', serif;
    font-size: 7em;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.content-description h2{
    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .content-description {
        width: 100%;
        max-width: none; /* Eliminar el ancho máximo en pantallas más pequeñas */
    }

    .content-description h1 {
        font-size: 3em;
    }

    .content-description h2 {
        font-size: 1.2em;
    }
}


/* landing page estilazos*/

.landing-page {
    width: 100%;
    height: 110vh;
    background-color: #0F1722;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.border-detail{
    position: absolute;
    bottom: -1%;
    left: 0;
    width: 5%;
    height: 10%;
    background-color: #fff;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.border{
    position: absolute;
    width: 85%;
    height: 110vh;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    z-index: 12;
}

.border::before{
    content: '';
    position: absolute;
    top: 20%;
    left: -1%;
    width: 2%;
    height: 6%;
    background-color: #0F1722;
}

.border::after{
    content: '';
    position: absolute;
    bottom: 15%;
    right: -1%;
    width: 2%;
    height: 6%;
    background-color: rgb(255, 51, 66);
}


.banner{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    background: -webkit-linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 57% 100%);
    z-index: 9;
}


.img-banner{
    position: absolute;
    top: -10%;
    left: 14%;
    z-index: 10;
}

.img-banner img{
    height: 100%;
    width: 200vh;

}

.img-banner2{
    position: absolute;
    top: -45%;
    left: -10%;
}

.img-banner2 img{
    height: 200vh;
    width: 154%;
    opacity: 0.1;
}

.title{
    position: absolute;
    left: 23%;
    z-index: 11;
}


.title h1{
    font-family: 'ValFont';
    font-size: 9.4rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1024px){

    .img-banner{
        left: unset;
    }

    .title {
        left: unset;
    }

    .title h1 {
        font-size: 7rem; 
    }
}


@media screen and (max-width: 768px){


    .landing-page{
        height: 100vh;
    }

    .banner{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%);
    }

    .border-detail{
        display: none;
    }
   
    .border2 {
        width: 60%;
    }

    .img-banner {
        top: -5%;
        left: unset;
    }

    .img-banner img{
        width: 180vh;
    }


    .title {
        left: unset;
    }

    .title h1 {
        font-size: 5rem; 
    }
}

@media screen and (max-width: 480px) {
    .img-banner {
        top: -5%;
        left: unset;
    }

    .img-banner img{
        width: 150vh;
    }


    .title {
        left: unset;
    }

    .title h1 {
        font-size: 4rem; 
    }
}



/* termina landing pages*/

/* contenido del home */

.home-content{
    display: flex;
    gap: 10px;
    height: 100vh;
    width: 100%;
    padding: 40px 20px 20px 20px;
    margin-bottom: 40px;
}

.home-content a{
    flex: 1;
}


.img-content{
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-content::before {
    content: '';
    width: 15%;
    height: 3.7%;
    position: absolute;
    bottom: 14.2%;
    left: 16%;
    background-color: #EAEDB5;
    transform: rotate(45deg);
    z-index: 1;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.img-content::after {
    content: '';
    width: 15%;
    height: 3.7%;
    position: absolute;
    bottom: 14.2%;
    right: 16%;
    background-color: #EAEDB5;
    transform: rotate(315deg);
    z-index: 1;
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}

.border-top{
    position: absolute;
    top: 0;
    width: 100%;
    height: 67%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: none;
}

.border-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33%;
    background-color:  rgba(0, 0, 0, 0.5);
    clip-path: polygon(50% 98%, 100% 0%, 50% 100%, 50% 100%, 0 0%);
}




.bg-outside{
    position: absolute;
    width: 97%;
    height: 97%;
    background-color: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    background: -webkit-linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 100%, 0 66%);
}

.bg-inside {
    position: absolute;
    width: 97%;
    height: 70%;
    top: 0;
    left: 1.5%;
}
    .first {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      clip-path: polygon(0 10%, 70% 90%, 35% 90%, 0 50%);
    }
  
    .second {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      clip-path: polygon(100% 10%, 100% 50%, 88% 65%, 55% 65%);
    }
  


.agent-content,
.map-content,
.weapon-content{
    position: relative;
    height: 97%;
    width: 97%;
}

.home-cont-title {
    display: flex;
    justify-content: center;
    width: 84%;
    position: absolute;
    bottom: 23%;
    transition: transform 0.3s ease;
    z-index: 3;
    background-color: #EAEDB5;
    clip-path: polygon(0 0, 100% 0, 91% 100%, 9% 100%);
}

.home-cont-title h1{
    font-family: 'Valfont', serif;
    font-weight: 300;
    font-size: 2rem;
    color: #160202;
}

.img-detail-cir{
    position: absolute;
    bottom: -21px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.img-detail-cir::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 8px;
    left: -1.2px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transform: rotate(315deg);
}

@media screen and (max-width: 1024px){

    .home-content{
        padding-left: 10px;
        padding-right: 10px;
    }

    .img-content::before,
    .img-content::after{
        height: 2.5%;
    }
    .img-content::before{
        left: 18%;
        transform: rotate(60deg);
    }
    .img-content::after{
        right: 18%;
        transform: rotate(300deg);
    }

    .bg-outside{
        display: none;
    }

    .home-cont-title h1{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px){

    .home-content{
        flex-direction: column;
        height: auto;
        padding: 40px 20px 20px 20px;
        gap: 25px;
    }

    .img-content{
        height: 70vh;
    }

    .img-content::before{
        top: 30%;
        left: -8.5%;
        transform: rotate(90deg);
    }

    .img-content::after{
        top: 30%;
        right: -8.5%;
        transform: rotate(90deg);
    }

    .img-border::before{
        top: 70%;
        height: 108%;
        transform: rotate(296deg)

    }
    .img-border::after{
        top: 70%;
        height: 108%;
        transform: rotate(64deg);
    }

    .bg-outside{
        display: block;
    }

    .home-cont-title{
        clip-path: polygon(-2% 0%, 102% 0%, 91% 100%, 9% 100%);
    }

}

@media screen and (max-width: 480px){
    .img-content{
        height: 65vh;
    }
}






/* agents*/

.agents{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 100%, 0 66%);
}

.agents:hover {
    overflow: visible;
    clip-path: none;
}

.agt-img1,
.agt-img2{
    position: relative;
    width: 100%;
    height: 100%;
}


.agt-img1 img,
.agt-img2 img{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-35%);
    width: 100vh;
    height: auto;
    transition: transform 0.3s ease;
    z-index: 2;
}


.agents:hover .agt-img1 img,
.agents:hover .agt-img2 img{
    transform: scale(1.05) translateX(-35%);
    transition: transform 0.3s ease; 
}

.agents:hover .home-cont-title h1{
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}


/* maps */

.maps{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 100%, 0 66%);
    
}

.map-img{
    display: flex;
    justify-content: center;
    align-items: center;
}


.map-img img{
    width: 200%;
    height: 100%;
    transition: transform 0.3s ease;
}




.maps:hover .map-img img,
.maps:hover .home-cont-title{
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}

/* weapons */

.weapons{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.wp-img1,
.wp-img2,
.wp-img3{
    display: flex;
    justify-content: center;
    align-items: center;
}


.wp-img0 img{
    position: absolute;
    left: 20%;
    top: 8%;
    height: 25%;
    width: 60%;
    transform: rotate(340deg);
    transition: transform 0.3s ease; 
}

.wp-img1 img{
    position: absolute;
    top: 36%;
    height: 14%;
    width: 55%;
    transform: rotate(354deg);
    transition: transform 0.3s ease; 
}

.wp-img2 img{
    position: absolute;
    top: 54%;
    left: 2%;
    height: 25%;
    width: 100%;
    transform: rotate(340deg);
    transition: transform 0.3s ease; 
}


.weapons:hover {
    overflow: visible;
}

.weapons:hover .wp-img0 img,
.weapons:hover .wp-img2 img{
    transform: rotate(350deg) scale(1.05);
    transition: transform 0.3s ease; 
}

.weapons:hover .wp-img1 img{
    transform: rotate(364deg) scale(1.05);
    transition: transform 0.3s ease; 
}

.weapons:hover .home-cont-title h1{
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}


@media screen and (max-width: 1024px){

    .agt-img1 img,
    .agt-img2 img{
        bottom: 10%;
        left: -10%;
        width: 90vh;
        
    }

    .wp-img0 img{
        left: 15%;
    }

    .wp-img1 img{
        top: 32%
    }

    .wp-img2 img{
        left: 5%;
    }    
}


@media screen and (max-width: 768px){

    .agents,
    .weapons{
        background-color: transparent;
        background: transparent;
        clip-path: none;
    }

     
    .agt-img1 img,
    .agt-img2 img{
        bottom: 5%;
        left: 10%;
        width: 70vh;
        
    }

    .wp-img0 img{
        height: 32%;
        width: auto;
        top: 10%;
        left: 5%;
    }

    .wp-img1 img{
        height: auto;
        width: 40%;
        top: 7%;
        left: 55%;
    }

    .wp-img2 img{
        height: 30%;
        width: 75%;
        top: 42%;
        left: 12%;
    }    
}


@media screen and (max-width: 480px){


    .agt-img1 img,
    .agt-img2 img{
        bottom: 10%;
        left: 0;
        width: 65vh;
    }
    
    .wp-img0 img{
        top: 8%;
        left: 20%;
    }

    .wp-img1 img{
       display: none;
    }

    .wp-img2 img{
        width: 100%;
        height: 32%;
        top: 45%;
        left: 0%;
    }    
}











