.home{
    flex: 1;
}

.home p{
    font-size: 1.1em;
    font-weight: 400;
    padding: 8px;
}

.home a{
    color: unset;
    text-decoration: none;
}

.content-description{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding-top: 50px;
    position: relative;
}

.content-description h1{
    font-family: 'VALFont', serif;
    font-size: 7em;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.content-description h2{
    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 10px;
}


/* landing page estilazos*/

.landing-page {
    width: 100%;
    height: 100vh;
    background-color: #0F1722;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.border-detail{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: #fff;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.border{
    position: absolute;
    width: 85%;
    height: 100vh;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    z-index: 12;
}

.border::before{
    content: '';
    position: absolute;
    top: 120px;
    left: -10px;
    width: 20px;
    height: 50px;
    background-color: #0F1722;
}

.border::after{
    content: '';
    position: absolute;
    bottom: 80px;
    right: -10px;
    width: 20px;
    height: 50px;
    background-color: rgb(255, 51, 66);
}

.border2{
    position: absolute;
    bottom: 0;
    width: 64%;
    height: 10vh;
    z-index: 9;
}

.border2::before{
    content: '';
    position: absolute;
    bottom: 20px;
    right: -10px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.border2::after{
    content: '';
    position: absolute;
    bottom: 80px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.banner{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    background: -webkit-linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 57% 100%);
    z-index: 9;
}




.img-banner img{
    display: inline-block;
    position: absolute;
    top: -180px;
    left: 175px;
    height: 200vh;
    width: 215vh;
    z-index: 10;
}

.img-banner2 img{
    display: inline-block;
    position: absolute;
    top: -130px;
    left: -150px;
    height: 200vh;
    width: 215vh;
    opacity: 0.1;
}


.title h1{
    position: absolute;
    left: 23%;
    font-family: 'ValFont';
    font-size: 9.4rem;
    font-weight: 500;
    color: #fff;
    z-index: 11;
}


/* termina landing pages*/

/* about estilazos*/


.about{
    width: 100%;
    height: 75vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
}

.ab-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 85%;
    height: 100%;
    border-left: 1px solid #000;
    padding: 24px;
}


.ab-title h1{
    font-family: 'Valfont', serif;
    font-size: 8em;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.3);
}

.ab-title h1:nth-child(3){
    color: #000;
}


.ab-description h2{
    font-size: 2em;
    font-weight: 700;
}


.about-detail{
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: #00002E;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}



/* agentes estilazos */

.agents{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(to bottom, #00002E, #000154); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00002E, #000154);
    position: relative;
}

.agt-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5em;
    width: 85%;
    height: 100%;
    color: #fff;
    border-left: 1px solid #fff;
    padding: 24px;
}

.agt-content::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 110px;
    width: 20px;
    height: 50px;
    background-color: #00002E;
}

.agt-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 72%;
    left: 40%;
    width: 274px;
    height: 54px;
    background-color: transparent;
    color: #000;
    border: 1px solid #fff;
    transition: all 0.2s ease-in 0.15s;
    cursor: pointer;
    z-index: 10;
}

.agt-button::before{
    content: '';
    position: absolute;
    top: -10%;
    left: 15%;
    width: 30px;
    height: 10px;
    background-color: #000154;
    transition: 0.3s ease-in;
}

.agt-button::after{
    content: '';
    position: absolute;
    top: 90%;
    left: 75%;
    width: 30px;
    height: 10px;
    background-color: #000154;
    transition: 0.3s ease-in;
}

.agt-button span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 85%;
    background-color: #fff;
    z-index: 11;
}

.agt-button span::before{
    content: '';
    position: absolute;
    width: 95%;
    height: 85%;
    background-color: #000;
    z-index: -1;
    transition: 0.5s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.agt-button a{
    font-family: 'ValFont', serif;
    font-size: 1.2em;
    font-weight: 700;
}

.agt-button:hover{
    color: #fff;
}

.agt-button:hover::before{
    left: 25%;
}

.agt-button:hover::after{
    left: 65%;
}

.agt-button:hover span::before{
    transform: scaleX(1);
}

.agt-img1 img{
    display: inline-block;
    position: absolute;
    top: -90px;
    right: 754px;
    height: 120vh;
    width: 135vh;
    z-index: 10;
}

.agt-img2 img{
    display: inline-block;
    position: absolute;
    top: -90px;
    right: 400px;
    height: 120vh;
    width: 135vh;
    z-index: 10;
}


/* maps */


.maps{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.maps-content{
    padding-top: 100px;
    display: flex;
    align-items: center;
    gap: 5em;
    width: 85%;
    height: 100%;
    border-left: 1px solid #000;
    padding: 24px;
}

.maps-content::before{
    content: '';
    position: absolute;
    top: 500px;
    left: 110px;
    width: 20px;
    height: 50px;
    background-color: #fff;
}


.maps-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 72%;
    left: 40%;
    width: 274px;
    height: 54px;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in 0.15s;
    cursor: pointer;
    z-index: 10;
}

.maps-button::before{
    content: '';
    position: absolute;
    top: -10%;
    left: 15%;
    width: 30px;
    height: 10px;
    background-color: #fff;
    transition: 0.3s ease-in;
}

.maps-button::after{
    content: '';
    position: absolute;
    top: 90%;
    left: 75%;
    width: 30px;
    height: 10px;
    background-color: #fff;
    transition: 0.3s ease-in;
}

.maps-button span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 85%;
    background-color: rgb(255, 48, 64);
    z-index: 11;
}

.maps-button span::before{
    content: '';
    position: absolute;
    width: 95%;
    height: 85%;
    background-color: #000;
    z-index: -1;
    transition: 0.5s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.maps-button a{
    font-family: 'ValFont', serif;
    font-size: 1.2em;
    font-weight: 700;
}


.maps-button:hover::before{
    left: 25%;
}

.maps-button:hover::after{
    left: 65%;
}

.maps-button:hover span::before{
    transform: scaleX(1);
}

.map-img-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 48, 64);
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 30% 100%);
}















